<header>
    <nav class="navbar">
        <ul class="nav nav-tabs ">
            <li class="nav-item"><a class="nav-link " RouterModule="active" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link " RouterModule="active" routerLink="/about-us">about-us</a></li>
            <li class="nav-item"><a class="nav-link " RouterModule="active" routerLink="/service">service</a></li>
            
            
        </ul>
    </nav>
</header> 
<router-outlet></router-outlet> 

<!-- <app-reactiveform></app-reactiveform> -->
           <!--notes: array-form -->
<!-- <app-todos></app-todos>   -->
           <!-- note:service in use -->
<app-studentlist></app-studentlist>  
<!-- <app-home></app-home>   -->

 <app-service></app-service>
<!-- <app-about-us></app-about-us> -->
<!-- <app-ngcontainer></app-ngcontainer> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngcontant></app-ngcontant> -->
<!-- <app-template></app-template> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-get></app-get> -->

